@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');

:root {
	--dark-primary-color: #193864;
	--default-primary-color: #EBEBEB;
	--light-primary-color: #E0D8D7;
	--foreground-color: #FFFFFF;
	--border-color: #BDBDBD;
	--header-font: 'Open Sans Condensed', sans-serif;
	--text-font: 'Open Sans Condensed', sans-serif;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	color: var(--dark-primary-color);
	background: var(--light-primary-color);
	font-family: var(--text-font);
	overflow-x: hidden;
}

form {
	font-size: 14pt;
}

.fa-entry {
	padding: 9px 2px 11px 2px;
	width: 30px;
	color: var(--dark-primary-color);
	border: 1px solid var(--border-color);
	border-radius: 2px 0px 0px 2px;
	background: var(--default-primary-color);
	border-width: 1px 0px 1px 1px;
}

#loginbox {
	margin: 0 auto;
	width: 268px;
	height: 264px;
	margin-top: 10%;
	background: var(--foreground-color);
	box-shadow: 0px 5px 25px 10px var(--border-color);
	border-radius: 4px;
}
#loginbox h1 {
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid var(--border-color);
	margin: 0px 0px 10px 0px;
	text-align: center;
	cursor: default;
}

#portalbox {
	margin: auto;
	position: relative;
	 top: 30%;
	 transform: translateY(-50%);
	width: 268px;
	height: 310px;
	background: var(--foreground-color);
	box-shadow: 0px 5px 25px 10px var(--border-color);
	border-radius: 4px;
}

#portalbox h1 {
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid var(--border-color);
	margin: 0px 0px 10px 0px;
	text-align: center;
	cursor: default;
}

#registerbox {
	margin: 0 auto;
	width: 268px;
	height: 455px;
	margin-top: 5%;
	background: var(--foreground-color);
	box-shadow: 0px 5px 25px 10px var(--border-color);
	border-radius: 4px;
	transition: 0.1s;
}

#registerbox h1 {
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid var(--border-color);
	margin: 0px;
	text-align: center;
	cursor: default;
}

.portal-link {
	border: 1px solid var(--border-color);
	border-radius: 2px;
	width: 220px;
	height: 32px;
	line-height: 32px;
	padding: 10px;
	color: var(--dark-primary-color);
	transition: 0.3s;
}
.portal-link:hover {
	color: var(--border-color);
	border: 1px solid var(--dark-primary-color);
}

.portal-div{
	margin-top: 10px;
	text-decoration: none;
}
 .portal-text {
	width: 190px;
	font-size: 20px;
	height: 32px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: 30px;
}

#bar {
	width: 100%;
	height: 10px;
	background: var(--light-primary-color);;
	font-size: 1px;
	color: var(--border-color);
	margin: 0px;
	padding: 0px;
}

.headerbar {
	height: 10%;
	padding: 0px;
	background: var(--light-primary-color);;
	margin: auto;
}

.contentbox {
	height: 90%;
	width: 100%;
}

.navbar {
	float: left;
	height: 97%;
	width: 15%;
	border: 2pt solid #003565;
	border-radius: 20px;
	padding: 10px;
}

input[type=submit], button {
	border: 1px solid var(--border-color);
	border-radius: 2px;
	padding: 4px 8px 4px 8px;
	font-weight: bold;
	transition: 0.3s;
	background: var(--foreground-color);
}

input[type=submit]:hover, button:hover {
	cursor: pointer;
	color: var(--border-color);
	border: 1px solid var(--dark-primary-color);
}

input[type=text], input[type=number], input[type=password], input[type=tel] {
	width: 190px;
	background: none;
	color: var(--dark-primary-color);
	border: 1px solid var(--border-color);
	border-width: 1px 1px 1px 0px;
	border-radius: 0px 2px 2px 0px;
	padding: 11px 10px 10px 10px;
	transition: 0.3s;
	margin-top: 10px;
}
input[type=text]:hover, input[type=tel]:hover, input[type=number]:hover, input[type=password]:hover {
	border: 1px solid var(--dark-primary-color);
	border-width: 1px 1px 1px 0px;
}
input[type=text]:active, input[type=tel]:active, input[type=number]:active, input[type=password]:active {
	border: 1px solid var(--dark-primary-color);
	border-width: 1px 1px 1px 0px;
}

.pa {
	font-size: 10pt;
	padding-top: 10px;
	text-decoration: none;
}
.pa:hover {
	text-decoration: underline;
}
.pa:visited {
	color: blue;
}

#errors {
	width: 210px;
	height: auto;
	border: 1px solid var(--default-primary-color);
	color: var(--dark-primary-color);
	text-align: center;
	font-size: 10pt;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
}

ul {
	margin:0;
}

ul li:hover {
	cursor: pointer;
	color: #003565;
}

nav > a {
	float: left;
	padding: 0 50px 0 50px;
	height: 25px;
	line-height: 25px;
	width: 60px;
	background: #003565;
	text-decoration: none;
	font-family: var(--text-font);
	color: white;
	transition: 0.3s;
}

nav > a:hover {
	color: #B0D8FC;
}

nav {
	background: #003565;
	height: 25px;
	text-align: center;
}

.sb {
	margin: 25px 0px 0px 25px;
	border: 1px solid #003565;
	border-radius: 5px;
	height: auto;
	width: 200px;
}

.sbh {
	background: #003565;
	border-radius: 4px 4px 0 0;
	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

.reg-error {
	margin-top: 10px;
}

#menubar {
	width: 100%;
	background: var(--border-color);
	height: 32px;
	padding: 15px;
	z-index: 10;
	position: fixed;
}

#menubar i {
	cursor: pointer;
}

#content {
	width: 100%;
	margin-top: 77px;
	padding-left: 15px
}

#sidebar-menu {
	float: left;
	width: 300px;
	height: 100%;
	background: var(--foreground-color);
	transition: 0.3s;
	margin-left: -300px;
	margin-top: 62px;
}

#sidebar-content {
	width: 298px;
	height: 100%;
}

.sidebar-entry {
	width: 238px;
	height: 50px;
	line-height: 50px;
	font-size: 36px;
	border-bottom: 1px solid var(--border-color);
	color: var(--border-color);
	margin: 5px;
	padding: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.sidebar-entry:hover {
	color: var(--dark-primary-color);
}

.sidebar-entry i {
	height: 50px;
	width: 32px;
	margin-right: 20px;
	line-height: 50px;
	font-size: 36px;
	float: left;
}

.no-border {
	border: none;
}
